html, body {
  height: 100%;
}
body {
  background-color: #fff;
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
}
h1 {
  font-size: 140%;
  font-weight: normal;
  margin-left: 5px;
  margin-right: 5px;
}

/* Tabs */
#tabRow>td {
  border: 1px solid #ccc;
}
td.tabon {
  background-color: #ddd;
  border-bottom-color: #ddd !important;
  padding: 5px 19px;
}
td.taboff {
  cursor: pointer;
  padding: 5px 19px;
}
td.taboff:hover {
  background-color: #eee;
}
td.tabmin {
  border-left-style: none !important;
  border-right-style: none !important;
  border-top-style: none !important;
}
td.tabmax {
  border-left-style: none !important;
  border-right-style: none !important;
  border-top-style: none !important;
  text-align: right;
  width: 99%;
}

table {
  border: none;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}
td {
  padding: 0;
  vertical-align: top;
}
.content {
  direction: ltr;
  margin: 0;
  padding: 1ex;
  position: absolute;
  visibility: hidden;
}
pre.content {
  overflow: scroll;
}
#content_blocks {
  padding: 0;
}
.blocklySvg {
  border-top: none !important;
}
#content_xml {
  border: none;
  font-family: monospace;
  outline: none;
  overflow: scroll;
  resize: none;
}
button {
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: black;
  font-size: 90%;
  padding: 1px 1em;
}
button.launch {
  background-color: #d43;
  border: 1px solid #d43;
  color: white;
}
button:active {
  border: 1px solid blue !important;
}
button:hover {
  box-shadow: 2px 2px 5px #888;
}

#content_area {
  height: 99%;
}

#languageMenu {
  position: absolute;
  right: 20;
  top: 10;
}

button#fakeload {
  margin-right: 5px;
}

#textarea_arduino{
  background-color: rgba(8, 8, 8, 1);
  color : rgba(29, 147, 47, 1);
  font-size: 12px;
  height: 60%;
  line-height: 12px;
  overflow: auto;
  padding: 1px 1em;
  white-space: pre-wrap;
  width: 100%;
  word-break: break-all;
  word-wrap: break-word;
}

#debug_arduino{
  background-color: rgba(8, 8, 8, 1);
  border-color:black;
  border-width:2px;
  color : rgba(29, 147, 47, 1);
  height: 40%;
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

#serial_hud {
  background-color: rgba(8, 8, 8, 1);
  color : rgba(29, 147, 47, 1);
  font-size: 20px;
  line-height: 20px;
  height: 85%;
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

#serial_monitor_content{
  height: 100%;
}

#cb_cf_boards, #cb_cf_ports,#cb_cf_baud_rates {
  border: 1px solid #CCC;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #CCC;
  border-bottom-color: #CCC;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image-source: none;
  border-image-slice: 100% 100% 100% 100%;
  border-image-width: 1 1 1 1;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  background-color: rgba(242, 242, 242, 1);
}

#cb_cf_serial_monitor{
  width: 100%;
  height:100%;
}

#textarea_term {
  border: none;
}

